:root {
  --col-accent: #990303;
  --col-base-light: #c5edff;
  --col-base-mid: #93bfd3;
  --col-base-mid2: #729db1;
  --col-base-dark: #427597;
  --col-darkest: #000;
  --col-light: #ffffff;
  --col-btn-light: rgb(46, 149, 209);
  --col-btn-mid: rgb(30, 138, 201);
  --col-btn-dark: rgb(23, 89, 175);

  --card-scale: .3em;

  --transition-speed: .3s;
}
html {
  height:100%;
}
body {
  position:relative;
  min-height:100%;
  max-width:900px;
  margin:auto;
  background-color: var(--col-base-dark);
  color:var(--col-light);
  display:flex;
  flex-direction:column;
}

h1 {
  padding:10px;
  font-weight: 700;
  font-size: 2em;
  text-shadow:2px 2px 4px  rgb(2, 44, 99);
  transition:var(--transition-speed);
}

h1::after {
  display:block;
  content:'';
  margin-top:.2em;
  border-bottom:1px solid white;
}

h2 {
  font-weight:bold;
  margin-bottom:1em;
}

main.card {
  margin-bottom:2em;
}

footer {
  position: absolute;
  bottom:0;
  padding:.5em;
}

form {
  margin:0 .5em 0 .5em;
}

button {
  appearance:none;
  display:block;
  margin:.3em;
  padding:.3em .6em;
  border:none;
  font-size:1.2em;
  color:var(--col-light);
  border-bottom: 4px solid var(--col-btn-dark);
  border-radius: 5px;
  background:var(--col-btn-mid);
}

button:hover {
  background:var(--col-btn-light);
}

button:focus {
  outline:none;
  border:none;
  border-top: 4px solid var(--col-btn-dark);
  background:var(--col-btn-dark);
}

form>button {
  margin-top:.7em;
}

a:visited, a:link {
  color:var(--col-light);
}

b {
  font-weight:bold;
}

.center-children {
  display:flex;
  justify-content: center;
}

.hidden {
  display:none;
}

.card {
  position:relative;
  color: var(--col-darkest);
  margin: calc(var(--card-scale)*2) var(--card-scale);
  padding: var(--card-scale);
  background: var(--col-light);
  border-radius: var(--card-scale);
  box-shadow: 1.5px 1.5px calc(var(--card-scale) * .7) var(--col-base-dark);
  transition:var(--transition-speed);
}

.card.semi-transparent {
  background:rgba(255,255,255,.5);
}

.card.library-header {
  display:none; /* Only visible if screen width > mobile */
}

.book {
  display:flex;
  flex-direction:column;
}

.book-prop {
  margin-right:2em;
  padding:.3em 0;
}

.book-prop.book-title {
  font-weight:bold;
}
.book-prop.book-title::after {
  content:"";
  display:block;
  border-top: solid 1px var(--col-base-dark); 
}

.container-foot {
  margin-left:.3em;
}

/* * MODAL */
.modal-bg {
  position:fixed;
  z-index:10;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgba(0,0,0,.2);
}

.modal {
  /* center */
  z-index: 11;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

  box-sizing:border-box;/* default behavior makes width & padding conflict */
  width:fit-content;
  max-width:95%;
  padding: .7em;
  padding-bottom:0;
  margin: 0;

  font-size: 150%;
}

.modal > p {
  padding-right:2em;
}

.form-item {
  display: flex;
  justify-content: space-between;
  margin: .5em .2em;
  position:relative;
}

.form-item > label {
  padding-right:.4em;
}

.book-prop.book-author::before {
  font-style:italic;
  content:'by ';
}
.book-prop.book-pageCount::after {
  content:' pages';
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5em;
  height: 1.5em;
  margin:.3em;
  background: red;
  border-radius:50%;
  content: url(../imgs/x-icon.svg);
  user-select:none;
}

.close-btn:hover {
  background:rgb(255, 93, 142);
  transform:rotate(90deg);
  transition:.3s;
}

.switch {
  position:relative;
  display:flex;
  align-items:center;
}

.switch input {
  display:none;
}

.switch-label {
  padding-right: 1em;
}
.switch-span {
  background:var(--col-base-dark);
  width:1.7em;
  height:1em;
  border-radius:.5em;
}

.switch-span::before {
  position:absolute;
  box-sizing:border-box;
  content:"";
  height: 1em;
  width: 1em;
  border: .15em solid var(--col-base-dark);
  border-radius:50%;
  background:var(--col-base-light);
  transition: .1s;
}

input:checked + .switch-span::before {
  transform:translateX(.7em);
  background:lightgreen;
  border-color: green;
}

input:checked + .switch-span {
  background: green;
}

input[type='text'], input[type='number'] {
  appearance:none;
  border:1px solid var(--col-darkest);
  border-radius: 4px;
}
.validation-failed {
  background-color:red;
  animation-name: anim-fade;
  animation-duration: 3s;
}

.form-validation-error {
  z-index:10;
  display:block;
  box-sizing:border-box;
  position:absolute;
  top:1.3em;
  width:100%;
  text-align:right;
  background:lightcoral;
  border-radius:4px;
  padding:.3em;
  font-size:.8em;
}

@keyframes anim-fade {
  0% { background-color:red; }
  100% { background-color: white; }
}

@media (min-width:35em) {
  h1 {
    font-size:3.6em;
  }
  .book {
    display: grid;
    grid-template-columns: 6fr 5fr 3fr 4fr;
  }
  .card.library-header {
    display:grid;
    font-weight: bold;
  }
  .close-btn {
    top: 0;
  }

  .book-prop.book-author::before {
    content:'';
  }

  .book-prop.book-pageCount::after {
    content:'';
  }

  .book-prop.book-title {
    font-weight:normal;
  }

  .book-prop.book-title::after {
    display:none; 
  }
}